.table_container{
   align-self: center;
    border: 2px solid salmon;
}

.table_result_hint{
    text-align: center;
}

.table{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    width: 80%;
    border: 2px solid black;
}

.table_row{
    text-align: center;
}

.table_row:hover{
    color: rgb(53, 45, 45);
    background-color: rgb(170, 193, 216);
}

.table_heading{
    font-weight: bold;
    font-size: 1.2em;
}

.table_row_data{
    font-size: 1.3em;
}