{% extends 'base1.html' %}

{% block content %}
<!-- <div class="display_review">
    <br>
    <h4 class="customer">Name : name</h4>
    <h4 class="customer">contact no. : 368483498398</h4>
    <p class="customer_review">
        Lorem ipsum dolor sit amet consectetur <br>
        adipisicing elit. Nesciunt porro, <br>
        totam magnam dicta ratione hic dolorem reiciendis <br>
        autem odit excepturi in, voluptas omnis necessitatibus <br>
        ducimus explicabo aperiam, ab id asperiores rem nihil? <br>
        Aperiam fuga cupiditate nesciunt blanditiis ullam <br>
        necessitatibus praesentium! <br>
    </p>

</div> -->

{% for feedback in feedbacks  %}
<div class="display_review">
    <br>
    <h4 class="customer">Name : {{ feedback.name }}</h4>
    <h4 class="customer">contact no. : {{ feedback.contact }}</h4>
    <p class="customer_review">
        {{ feedback.client_feedback }}
    </p>

</div>
{% endfor %}
{% endblock %}